name: Kotlin JMH
on:
  push:
    branches:
      - '*'
jobs:
  throughput_run_benchmark:
    name: Run throughput benchmark
    runs-on: macos-latest
    env:
      BENCHMARK_MODE: thrpt
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set Up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Run throughput benchmark
        run: bash ./gradlew clean jmh
      - name: Archive throughput benchmark report
        uses: actions/upload-artifact@v2
        with:
          name: "{{env.BENCHMARK_MODE}}-benchmark-reports"
          path: build/reports/jmh

  sampling_run_benchmark:
    name: Run sampling benchmark
    runs-on: macos-latest
    env:
      BENCHMARK_MODE: sample
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set Up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Run sampling benchmark
        run: bash ./gradlew clean jmh
      - name: Archive sampling benchmark report
        uses: actions/upload-artifact@v2
        with:
          name: "{{env.BENCHMARK_MODE}}-benchmark-reports"
          path: build/reports/jmh
