name: Kotlin JMH
on:
  push:
    branches:
      - '*'
jobs:
  run_benchmark:
    name: Run benchmark
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set Up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Run benchmark
        run: bash ./gradlew clean jmh
      - name: Archive benchmark report
        uses: actions/upload-artifact@v2
        with:
          name: benchmark-reports
          path: build/reports/jmh